<%- include('partials/header.ejs') %>
<h1><%= title %></h1>
<p>Welcome to the Book Blog!</p>
    <header>
        <h1>Book Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <%- include('partials/books.ejs', { books: books }) %>
    </main>

<%- include('partials/footer.ejs') %>
</body>
</html>
